{% csrf_token %}
<div class="panel panel-default">
  <div class="panel-heading">Seleccione Cliente</div>
  <div class="panel-body">
	<div class="col-xs-12 col-md-8">
		<select name="client" class="form-control" id="client-select">
			<option value="-1">Seleccione uno </option>
		{%for client in clients%}
			<option value={{client.pk}} >{{client.rut}} - {{client.name}}</option>
		{% endfor%}
		</select>
	</div>
	<div class="col-xs-12 col-md-4">
		<button class="btn btn-success">
			<i class="fa fa-plus-circle" aria-hidden="true"></i> 
			Agregar
		</button>
	</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Direccion de retiro</div>
  <div class="panel-body">
	<div>
		<select name="client" class="form-control" id="client-address-select">
		  <option value="1">Juan Montes - direccion</option>
		  <option value="2">pedro pablo - direccion</option>
		  <option value="3">Empresa 1 - direccion</option>
		  <option value="4">Empresa 2 - direccion</option>
		  <option value="5">Empresa 3 - direccion</option>
		</select>
	</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Seleccione receptor</div>
  <div class="panel-body">
	<div>
		<select name="client" id="receptor-select" class="form-control">
			<option value="-1">Seleccione uno </option>
			{%for client in clients%}
				<option value={{client.pk}} >{{client.name}}</option>
			{% endfor%}
		</select>
	</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Seleccione dirección de despacho</div>
  <div class="panel-body">
	<div>
		<select name="client" id="receptor-address-select" class="form-control">
		  <option value="1">Juan Montes - direccion</option>
		  <option value="2">pedro pablo - direccion</option>
		  <option value="3">Empresa 1 - direccion</option>
		  <option value="4">Empresa 2 - direccion</option>
		  <option value="5">Empresa 3 - direccion</option>
		</select>
	</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Datos orden de despacho: </div>
  <div class="panel-body">
	  <div class="form-group">
	    <label for="tracking-code">Codigos de seguimiento</label>
	    <div id="codes-alerts-div">
	    </div>
	    <input type="text" class="form-control" id="tracking-code" placeholder="00001">
	  </div>
	  <div class="form-group">
	    <label >Tipo de pago</label>
	    <div class="radio">
		  <label>
		    <input type="radio" name="pay_type" id="optionsRadios1" value="option1" checked>
		    De cargo del cliente
		  </label>
	    </div>
		<div class="radio">
		  <label>
		    <input type="radio" name="pay_type" id="optionsRadios2" value="option2">
		    De cargo del receptor
		  </label>
		</div>
	  </div>
	  <div class="form-group">
	  <label for="payment-amount"> Valor</label>
	  <input type="text" class="form-control" name="value" id="payment-amount" placeholder="10000">
	  </div>

  </div>
</div>
<button id="send-btn" class="btn btn-primary">Crear</button>

<script type="text/javascript">
	$("#client-select").click(function(){
		var client_id = $(this).val();
		$("#receptor-select").children("[value="+client_id+"]").remove();
        $.ajax({
                url: "data/address",
                data: {"client_id" :client_id}
            }).done(function(data){
            	var addresses = JSON.parse(data);
            	$("#client-address-select").empty();
            	$("#client-address-select").append(
            		"<option value=\"-1\" >Seleccione una </option>");
            	for(i in addresses){
            		$("#client-address-select").append(
            			"<option value=\""+addresses[i].pk+"\" >"+addresses[i].fields.street+"</option>");
            	}
                console.log(data);
            });
	});
	$("#receptor-select").click(function(){
		var receptor_id = $(this).val();
        $.ajax({
                url: "data/address",
                data: {"client_id" : receptor_id}
            }).done(function(data){
            	var addresses = JSON.parse(data);
            	$("#receptor-address-select").empty();
            	$("#receptor-address-select").append(
            		"<option value=\"-1\" >Seleccione una </option>");
            	for(i in addresses){
            		$("#receptor-address-select").append(
            			"<option value=\""+addresses[i].pk+"\" >"+addresses[i].fields.street+"</option>");
            	}
                console.log(data);
            });
	});


	$('#tracking-code').keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);

    try{ tracking_codes; }
	catch(e) {
		if(e.name == "ReferenceError") {
			tracking_codes = [];
		}
	}
    if(keycode == '13'){
    	var code = $(this).val();
    	console.log(code);
    	if(!code){
    		return;
		}
    	if( $.inArray( code, tracking_codes ) > -1){
    		$(this).val("");
    		return;
		}

    	var div = $("<div>",{"class": "alert alert-info alert-dismissible" ,
    		 "role": "alert",
    		 "style": "display: inline-block;"});

    	div.html('<button type="button" onclick="eraseCode('+code+')" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="erase-code">&times;</span></button>'+
			  code);
    	$("#codes-alerts-div").append(div);
    	tracking_codes.push(code);
    	$(this).val("");
    }
	});

	function eraseCode(code){
		tracking_codes = $.grep(tracking_codes, function(value) {
			  return value != code;
			});
	};

	$("#send-btn").click(function(){
		var pick_up = $("#client-address-select").val();
		var destination = $("#receptor-address-select").val();
		var pay_type = $("input[name=pay_type]").val();
		var value = $("input[name=value]").val();
		var csrf = $("input[name=csrfmiddlewaretoken]").val();
		$.ajax({
                url: "data/dispatch_order",
                method: "POST",
                data: {"pick_up_address" : pick_up,
                	"destination_address": destination,
                	"payment_charge": pay_type,
                	"value": value,
                	"tracking_number": tracking_codes.toString(),
                	"csrfmiddlewaretoken": csrf
                	}
            }).done(function(data){
            	alert("Creado");
            })
            .fail(function(data){
            	alert("error: "+data);
            });

	});

</script>